.home-container {
    display: flex;
    justify-content: space-around;
}


.local-listings {
    background-color: rgb(238, 221, 221);
}

.community-events {
    background-color: rgb(205, 153, 153);
}